<?xml version="1.0" encoding="UTF-8" standalone="no"?><structure><name>Pruebita</name><date>26/0/113</date><owner>wilsonyesidriveracasas@gmail.com</owner><mainClass name="" package=""/><users><user><email>charlesandrew621@gmail.com</email><type>Write</type></user><user><email>wil@</email><type>Write</type></user></users></structure>