<?xml version="1.0" encoding="UTF-8" standalone="no"?><structure><name>propro</name><date>26/0/113</date><owner>carlos.sepulveda@elibom.com</owner><mainClass name="" package=""/><users><user><email>charlesandrew621@gmail.com</email><type>Read</type></user><user><email>cas@</email><type>Read</type></user></users></structure>