/* 
    Document   : abrirProyecto
    Created on : 5/12/2011, 08:51:38 AM
    Author     : cas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.fondo{

    background-color: #cdcdcd;
}

.np{
    text-align: center;
    
}



.divP:hover
{
    background-color: rgba(230,230,230,0.8);
    cursor: pointer;
    border-radius: 4px;
}

.textNameP,  .divPS .np{
    background-color: rgba(230,230,230,0);
    cursor: pointer;
}

.divPS
{
    background-color:rgba(240,240,240,0.5);
    cursor: pointer;
    border-radius: 4px;

}


#divD{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}


